img {
    margin: 5px;
}

buttons {
    padding: 5px;
}

#buttoned {
    text-align: center;

}

#addButton {
    margin-left: auto;
    margin-right: auto;
}

.centerMe {
    text-align: center;
}

body {
    background-image: url("../images/att_stadium.jpg");
    background-size: 100%;

}